<html>
  <head>
    <title>Монитор</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/vue.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/Chart.js"></script>
  </head>
  <body>
    <div id="app">
      <table>
        <tr>
          <td>Код станции</td>
          <td v-for="row in stat" :style="style(row.delta)+'; padding:10px;'">
            <input type="checkbox" v-model="on[row.code]" /> {{ row.code }}
          </td>
        </tr>
        <tr>
          <td>Задержка данных станции</td>
          <td v-for="row in stat" :style="style(row.delta)+'; padding:10px;'">
            {{ row.delta }}
          </td>
        </tr>
        <tr>
          <td>Цвет на графике</td>
          <td
            v-for="row in stat"
            :style="'background:'+colors[row.code]+'; padding:10px;'"
          >
            <input type="color" v-model="colors[row.code]" />
          </td>
        </tr>
      </table>

      <br />
      Скругление:
      <select v-model.number="round">
        <option value="0">нет</option>
        <option value="0.1">слабое</option>
        <option value="0.3">заметное</option>
        <option value="0.5">нормальное</option>
        <option value="0.7">сильное</option>
      </select>
      Интервал:
      <select v-model.number="interval">
        <option value="1">1 секунда</option>
        <option value="5">5 секунд</option>
        <option value="10">10 секунд</option>
        <option value="20">20 секунд</option>
        <option value="30">30 секунд</option>
        <option value="60">60 секунд</option>
      </select>
      Время отображения:
      <select v-model.number="fullTime">
        <option value="60">1 минута</option>
        <option value="120">2 минуты</option>
        <option value="300">5 минут</option>
        <option value="600">10 минут</option>
        <option value="1200">20 минут</option>
        <option value="1800">30 минут</option>
      </select>
      <button @click="clear">Сбросить</button> <br /><br /><br />
      <div style="position: relative; height:500px; width:1000px">
        <canvas ref="gr"></canvas>
      </div>
    </div>
    <script src="App.js"></script>
  </body>
</html>
