<html>
  <head>
    <title>Настройки наблюдателя</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/vue.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/Chart.js"></script>
  </head>
  <body>
    <div id="app">
      <table>
        <tr>
          <td>Адрес</td>
          <td><input v-model="setting.url" /></td>
        </tr>
        <tr>
          <td>Папка с данными</td>
          <td><input v-model="setting.data_dir" /></td>
        </tr>
        <tr>
          <td>Регистратор</td>
          <td>
            <input type="number" v-model.number="setting.registrator_id" />
          </td>
        </tr>
        <tr>
          <td>Порог</td>
          <td><input type="number" v-model.number="setting.interval" /></td>
        </tr>
        <tr>
          <td>Токен</td>
          <td><input v-model="setting.token" /></td>
        </tr>
        <tr>
          <td>Порт</td>
          <td><input type="number" v-model.number="setting.port" /></td>
        </tr>
        <tr>
          <td>Включить отправку</td>
          <td><input type="checkbox" v-model="setting.send" /></td>
        </tr>
      </table>

      <br />
      <hr />
      <table>
        <tr>
          <td>
            <button @click="setting.filelist.push({code:'',path:''})">+</button>
            код
          </td>
          <td>путь</td>
        </tr>
        <tr v-for="(file, i) in setting.filelist" :key="i">
          <td>
            <button @click="deleteFile(file.code)">-</button
            ><input v-model="file.code" />
          </td>
          <td><input v-model="file.path" /></td>
        </tr>
      </table>

      <br />
      <button @click="save">Сохранить</button>
    </div>
    <script src="/AppSetting.js"></script>
  </body>
</html>
